* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

.background1 {
  background-image: url('img/background1.jpg');
  background-position: 100% 0%;
}

.background2 {
  background-image: url('img/background2.jpg');
  background-position: 50% 0%;
}

.background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
  background-color: #f1f1f1;
  color: #000;
  line-height: 1.5;
}

p {
  opacity: 0.89;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5;
}

h1 {
  opacity: 0.89;
  font-weight: 500;
  font-size: 2rem;
}

h2 {
  font-weight: 400;
  opacity: 0.56;
}

.column {
  background-color: #fff;
  border-bottom: 0px solid #E6ECF8;
  border-right: 1px solid #E6ECF8;
  padding: 60px 35px;
  border-radius: 15px;
}

.column:last-child {
  border: none;
}

.container {
  width: 70%;
}

.container h1 {
  margin-bottom: 1.2rem;
}

.box {
  z-index: 80;
  border-radius: 15px;
  box-shadow: 0 0 1rem rgba(77, 77, 79, .2);
}

section .container {
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 200px;
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(77, 77, 79, .2);
}

.nav-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.nav-logo {
  flex-direction: row;
}

.logo, .logo img {
  height: 3rem;
  width: auto;
}

.menu-icon {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 15%;
}

.icon {
  border-radius: 15%;
  height: 100%;
  width: 100%;
}

.nav-logo p {
  margin-left: 1rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #4cd59a;
}

.nav-logo img:hover,
.icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.dropdown {
  height: 90px;
  width: 100%;
}

.dropdown-content {
  display: none;
  height: 100%;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(77, 77, 79, .2);
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

.menu-items ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.icon {
  opacity: 0.56;
}

#section-zero {
  padding-top: 90px;
  height: 80vh;
}

.banner {
  width: 100%;
}

.banner h1 {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  color: rgba(0, 220, 158, 1);
  text-shadow: 0.2rem 0.2rem rgb(48, 120, 88);
}

.banner h2 {
  font-size: 2rem;
  font-weight: 100;
  color: #fff;
  padding: 0.5rem 2rem;
  opacity: 0.8;
  background-color: rgb(0, 220, 158);
}

#section-one {
  background-color: #4cd59a;
  padding: 9rem 1.5rem;
  padding-bottom: 16rem;
  box-shadow: inset 0 0.2rem 0.5rem rgba(48, 120, 88, 0.5);
}

.download {
  flex-direction: column;
  width: 80%;
  text-align: center;
  color: #fff;
}

.badge-container {
  flex-direction: row;
}

.badge {
  width: 215px;
  height: 75px;
  margin: 3rem;
  transition: all .2s ease-in-out;
}

.badge:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#section-one h1 {
  font-size: 3rem;
  text-shadow: 0.2rem 0.2rem rgb(48, 120, 88);
}

#section-two {
  margin-top: -14rem;
  padding: 5rem 1.5rem 0 5rem;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#section-two .container {
  position: relative;
}

#section-two .box {
  background-color: #f1f1f1;
}

.content {
  display: flex;
  flex-direction: row;
}

#section-three {
  margin-top: -14rem;
  height: 40vh;
}

.bottom {
  box-shadow: 0 -0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  min-height: 200px;
  text-align: center;
}

footer {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -2px 4px 0 rgba(77, 77, 79, .2);
}

footer h1 {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  color: rgba(0, 220, 158, 1);
  text-shadow: 0.2rem 0.2rem rgb(48, 120, 88);
}

ul {
  width: 80%;
  margin: 4rem;
}

ul p {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

li {
  color: #4cd59a;
  font-size: 1.2rem;
  list-style: none;
}

@media (max-width: 1190px) {
  .container {
    width: 100%;
  }

  #section-two {
    padding: 1rem 1.5rem;
    height: auto;
  }

  #section-two .box {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }

  .column {
    margin: 1rem;
    box-shadow: 0 0 1rem rgba(77, 77, 79, .2);
  }

  #section-three {
    margin: 0;
  }
}

@media (max-width: 840px) {
  .menu-items {
    width: 100%;
  }

  #section-two .content {
    flex-direction: column;
  }

  .badge-container {
    flex-direction: column;
  }

  .badge {
    margin: 2rem;
  }
}

@media (max-width: 680px) {
  nav {
    height: 100vh;
  }

  .nav-header {
    z-index: 100;
  }

  .dropdown {
    height: 50vh;
    width: auto;
    z-index: 90;
    display: flex;
    justify-content: flex-end;
  }

  .dropdown-content {
    width: auto;
    align-items: stretch;
    border-radius: 0 0 0 15px;
  }

  .menu-items {
    justify-content: flex-end;
  }

  .menu-items ul {
    width: auto;
    flex-direction: column;
    text-align: right;
  }
}
